<h1>Chestionar despre cafea</h1>
<div class="formular">
<form action="/rezultat-chestionar" method="post">
    <fieldset>
        <legend>Intrebari</legend>
        <% for(let i=0;i<intrebari.length;i++){ %>
        <p>
            <%-i+1 %>.
            <%- intrebari[i].intrebare %>
        </p>
        <% for(let j=0;j<intrebari[i].variante.length;j++){ %>
        <label class="container"><%- intrebari[i].variante[j] %>
            <input type='radio' name="q<%- i %>" value="<%- j %>" required />
            <span class="checkmark"></span>
        </label>
        <% } %>
        <% } %>

    </fieldset>
    <input type="submit" value="Trimite" />
</form>
</div>